/Figures/.ipynb_checkpoints
/Results_Plots in the article/.ipynb_checkpoints
Cover letter.docx
*.docx
Figures/.DS_Store
.DS_Store
Uncertainty_Calculation of 95% CIs/.ipynb_checkpoints/(FRAG_PP) Log-based 95CI-checkpoint.ipynb
/Uncertainty_Calculation of 95% CIs/.ipynb_checkpoints
/Uncertainty_Calculation of 95% CIs/.ipynb_checkpoints
/Uncertainty_Calculation of 95% CIs/.ipynb_checkpoints
/Uncertainty_Calculation of 95% CIs/.ipynb_checkpoints
